

<h1><%= @task.id %>の概要</h1>
Content: 
<%= @task.content %> <br>

Status: 
<%= @task.status %>

<br>
<%= link_to "編集", edit_task_path(@task.id) %>
<%= link_to "削除", task_path(@task.id), {method:'delete'} %>

<%= link_to "一覧へ戻る", root_path %>
